<div class="login-container">
    <div class="login-welcome">
        <h1>Share your thoughts</h1> <br>
    </div>
    <div class="login-form">
        <h2>Login</h2>
        <form action="/api/login" method="POST">
        <input 
            class="login-input"
            type="text" 
            placeholder="Email"     
            id="email">
        <input
            class="login-input"
            type="password" placeholder="Password" id="password">
        <button class="button" id="login">Login</button>
        <p>New here? <a href="/signup">Sign Up</a></p>
        </form>
    </div>
</div>