* {
    /* Colors */
    --color-primary: #1e1e1e;
    --color-secondary: #dbe6d0;
    --color-tertiary: #9C9C9C;

    /* Spacing */

    /* increments of 4 or 8, mostly 8 
    4px = 0.25rem
    8px = 0.5rem
    16px = 1rem
    24px = 1.5rem
    32px = 2rem
    40px = 2.5rem
    48px = 3rem
    56px = 3.5rem*/
}

body {
    background-color: var(--color-secondary);
}

/* ---- Typography ----- */

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-secondary);
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-primary);
    text-decoration: underline;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-tertiary);
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-primary);
    padding: 16px;
}

.card-header p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-secondary);
    padding: 16px;
}

.nav-active {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
}

a {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-secondary);
    text-decoration: none;
}

/* --End Typography-- */

/* ------ Containers and Layout ---------- */


main {
    background-color: var(--color-secondary);
}

/* Header */

header {
    background-color: var(--color-primary);
    min-height: 10vh;
    padding: 0px 12.5%;

}

nav {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-primary);
}

/* Content */

.container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 20vh;
    background-color: var(--color-secondary);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-radius: 8px;
    min-height: 20vh;
    width: 75%;
    border: solid 2px var(--color-primary);
    background-color: var(--color-secondary);
}

.card .card-header {
    display: flex no-wrap;
    flex-direction: row;
    justify-content: left;
    padding: 16px;
    padding-left: 24px;
    border-radius: 4px, 0px;
    background-color: var(--color-primary);
}
.login-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    height: 100vh;
    justify-content: left; 
    background-color: var(--color-secondary);
}
.login-welcome {
    display: flex;
    background-color: var(--color-primary);
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
}

.button:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: var(--color-secondary);
    width: 50%;
    margin-left: 40px;
}

.login-form input {
    display: flex;
    flex-direction: row;

    padding: 8px;
    border-radius: 4px;
    background-color: var(--color-secondary);
    border: solid 2px var(--color-primary);
}

.form input:focus {
    border: solid 3px var(--color-primary);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form input::placeholder {
    color: var(--color-tertiary);
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    height: 30vh;
    margin-top: 24px;
    margin-bottom: 32px;
    padding: 16px;
    background-color: var(--color-tertiary);
}

.post-title input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-radius: 4px, 4px, 0px, 0px;
    background-color: var(--color-primary);
    border: solid 2px var(--color-primary);
}

.post-title input:hover {
    cursor: text;
}

.post-title input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-tertiary);
}

.post-body input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;    border-radius: 4px;
    background-color: var(--color-secondary);
    border: solid 2px var(--color-primary);
}

.post-body input:hover {
    cursor: text;
}

.post-body input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-primary);
}

.btn-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 0px, 0px, 4px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: solid 2px var(--color-primary);
}